$fondo-principal-color: #3b3b40;

$fondo-1: #313135;

$fondo-navegador-lateral-iconos: #222225;
$fondo-navegador-lateral-panel: #2f2f32;

$fuente-1: #f1f9f7;
$fuente-2: #f1f9f7;
$fuente-3: #29a488;
$fuente-4: #f1f9f7;
$fuente-5: #3b3b40;
$fuente-6: #62a7ec;

$btn-primario: #2a82ac;
$btn-secundario: #57575c;

$icono-rojo: #d4504e;
$icono-verde: #94e189;
$icono-amarillo: #ffd22e;

$formulario-input-fondo: #3b3b40;
$formulario-input-fuente-valor: #a9a9b2;
$formulario-input-fuente-etiqueta: #8a8894;
$formulario-titulo: #8a8894;

$borde-gris-fino: hsl( 240 4% calc(14% + 12%) );

//david
$color_blanco:white;
